@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&family=Syncopate:wght@400;700&display=swap');

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-main);
  background-color: var(--space-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* Darker gradient background removed, restored image */
  background-image: url('./assets/bg-space.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Retro Grid Floor */
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background:
    linear-gradient(transparent 0%, var(--neon-cyan) 2%, transparent 3%),
    linear-gradient(90deg, transparent 0%, var(--neon-cyan) 2%, transparent 3%);
  background-size: 40px 40px;
  transform: perspective(500px) rotateX(60deg) scale(2) translateY(50px);
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, black);
  animation: gridMove 20s linear infinite;
}

@keyframes gridMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 40px;
  }
}

/* Base Star Layer Style */
.star-layer {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  /* Ensures it sits on top of body bg but behind content */
}

/* Layer 1: Small particles */
.layer-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 27vw 56vh #fff, 20vw 60vh #fff, 14vw 72vh #fff, 54vw 50vh #fff, 2vw 14vh #fff, 51vw 62vh #fff, 88vw 55vh #fff, 48vw 26vh #fff, 27vw 64vh #fff, 66vw 86vh #fff, 62vw 62vh #fff, 76vw 53vh #fff, 88vw 79vh #fff, 96vw 83vh #fff, 66vw 34vh #fff, 46vw 34vh #fff, 2vw 97vh #fff, 35vw 52vh #fff, 40vw 52vh #fff, 91vw 40vh #fff, 39vw 53vh #fff, 56vw 74vh #fff, 3vw 24vh #fff, 58vw 51vh #fff, 93vw 46vh #fff, 25vw 21vh #fff, 50vw 50vh #fff, 32vw 74vh #fff, 17vw 72vh #fff, 10vw 80vh #fff, 67vw 18vh #fff, 55vw 72vh #fff, 29vw 68vh #fff, 98vw 10vh #fff, 27vw 17vh #fff, 19vw 75vh #fff, 63vw 87vh #fff, 6vw 9vh #fff, 74vw 87vh #fff, 76vw 98vh #fff, 94vw 85vh #fff, 27vw 43vh #fff, 99vw 54vh #fff, 50vw 32vh #fff, 41vw 42vh #fff, 46vw 5vh #fff, 46vw 71vh #fff, 30vw 72vh #fff, 18vw 76vh #fff, 64vw 58vh #fff, 55vw 64vh #fff, 31vw 18vh #fff, 35vw 8vh #fff, 68vw 52vh #fff, 74vw 84vh #fff, 40vw 51vh #fff, 33vw 85vh #fff, 8vw 14vh #fff, 11vw 76vh #fff, 75vw 71vh #fff, 76vw 69vh #fff, 9vw 88vh #fff, 31vw 7vh #fff, 26vw 96vh #fff, 42vw 92vh #fff, 18vw 66vh #fff, 95vw 27vh #fff, 38vw 56vh #fff, 43vw 32vh #fff, 55vw 39vh #fff, 79vw 21vh #fff, 35vw 77vh #fff, 77vw 29vh #fff, 90vw 18vh #fff, 78vw 96vh #fff, 56vw 24vh #fff, 69vw 94vh #fff, 56vw 43vh #fff, 72vw 29vh #fff, 99vw 53vh #fff, 44vw 74vh #fff, 9vw 38vh #fff, 32vw 42vh #fff, 8vw 47vh #fff, 1vw 53vh #fff, 79vw 96vh #fff, 31vw 89vh #fff, 71vw 36vh #fff, 39vw 48vh #fff, 21vw 38vh #fff, 81vw 37vh #fff, 78vw 47vh #fff, 29vw 17vh #fff, 55vw 58vh #fff, 19vw 71vh #fff, 22vw 4vh #fff, 84vw 49vh #fff, 94vw 5vh #fff, 95vw 84vh #fff, 2vw 78vh #fff, 80vw 62vh #fff, 8vw 89vh #fff, 76vw 30vh #fff, 50vw 30vh #fff, 82vw 85vh #fff, 82vw 56vh #fff, 85vw 7vh #fff, 80vw 77vh #fff, 55vw 93vh #fff, 27vw 5vh #fff, 87vw 16vh #fff, 21vw 32vh #fff, 0vw 54vh #fff, 87vw 95vh #fff, 42vw 20vh #fff, 1vw 13vh #fff, 49vw 45vh #fff, 87vw 51vh #fff, 30vw 29vh #fff, 58vw 42vh #fff, 85vw 30vh #fff, 18vw 15vh #fff, 80vw 13vh #fff, 3vw 9vh #fff, 31vw 73vh #fff, 49vw 14vh #fff, 77vw 51vh #fff, 59vw 98vh #fff, 61vw 90vh #fff, 69vw 21vh #fff, 18vw 78vh #fff, 14vw 97vh #fff, 84vw 54vh #fff, 87vw 19vh #fff, 22vw 22vh #fff, 84vw 85vh #fff, 80vw 24vh #fff, 38vw 38vh #fff, 40vw 77vh #fff, 69vw 24vh #fff, 44vw 94vh #fff, 20vw 38vh #fff, 18vw 95vh #fff, 74vw 99vh #fff, 52vw 78vh #fff, 63vw 51vh #fff, 70vw 50vh #fff, 76vw 99vh #fff, 88vw 31vh #fff, 79vw 15vh #fff, 17vw 46vh #fff, 72vw 86vh #fff, 3vw 88vh #fff, 86vw 44vh #fff, 41vw 7vh #fff, 86vw 24vh #fff, 85vw 55vh #fff, 42vw 84vh #fff, 47vw 93vh #fff, 49vw 42vh #fff, 41vw 38vh #fff, 57vw 25vh #fff, 71vw 47vh #fff, 89vw 75vh #fff, 12vw 16vh #fff, 50vw 47vh #fff, 94vw 30vh #fff, 47vw 31vh #fff, 19vw 90vh #fff, 69vw 48vh #fff, 47vw 1vh #fff, 95vw 65vh #fff, 94vw 24vh #fff, 63vw 91vh #fff, 20vw 39vh #fff, 78vw 9vh #fff, 55vw 33vh #fff, 83vw 72vh #fff, 91vw 17vh #fff, 67vw 50vh #fff, 17vw 35vh #fff, 4vw 67vh #fff, 41vw 79vh #fff, 11vw 73vh #fff, 81vw 30vh #fff, 31vw 39vh #fff, 53vw 49vh #fff, 21vw 21vh #fff, 40vw 78vh #fff, 50vw 80vh #fff, 78vw 69vh #fff, 40vw 68vh #fff, 32vw 70vh #fff, 67vw 26vh #fff, 24vw 12vh #fff, 41vw 44vh #fff, 0vw 2vh #fff, 74vw 19vh #fff, 93vw 22vh #fff, 49vw 42vh #fff;
  opacity: 0.8;
  animation: twinkle 4s ease-in-out infinite;
}

/* Layer 2: Medium stars */
.layer-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 18vw 51vh #fff, 83vw 8vh #fff, 9vw 81vh #fff, 20vw 20vh #fff, 31vw 48vh #fff, 18vw 56vh #fff, 88vw 22vh #fff, 64vw 4vh #fff, 66vw 58vh #fff, 48vw 53vh #fff, 37vw 78vh #fff, 71vw 85vh #fff, 88vw 26vh #fff, 91vw 27vh #fff, 96vw 58vh #fff, 93vw 42vh #fff, 63vw 47vh #fff, 56vw 30vh #fff, 67vw 10vh #fff, 31vw 88vh #fff, 41vw 60vh #fff, 82vw 32vh #fff, 83vw 94vh #fff, 12vw 32vh #fff, 39vw 9vh #fff, 90vw 78vh #fff, 94vw 43vh #fff, 37vw 24vh #fff, 94vw 76vh #fff, 15vw 71vh #fff, 13vw 98vh #fff, 57vw 35vh #fff, 31vw 59vh #fff, 22vw 22vh #fff, 34vw 60vh #fff, 5vw 21vh #fff, 26vw 19vh #fff, 99vw 79vh #fff, 5vw 30vh #fff, 14vw 91vh #fff, 12vw 43vh #fff, 53vw 21vh #fff, 49vw 84vh #fff, 52vw 33vh #fff, 80vw 23vh #fff, 51vw 18vh #fff, 60vw 45vh #fff, 16vw 99vh #fff, 39vw 52vh #fff, 41vw 15vh #fff, 36vw 9vh #fff, 18vw 44vh #fff, 97vw 62vh #fff, 0vw 45vh #fff, 58vw 49vh #fff, 93vw 2vh #fff, 86vw 23vh #fff, 27vw 86vh #fff, 96vw 60vh #fff, 97vw 48vh #fff, 44vw 9vh #fff, 11vw 41vh #fff, 84vw 93vh #fff, 5vw 95vh #fff, 28vw 44vh #fff, 60vw 66vh #fff, 82vw 20vh #fff, 40vw 10vh #fff, 33vw 47vh #fff, 67vw 57vh #fff, 72vw 94vh #fff, 48vw 85vh #fff, 52vw 34vh #fff, 46vw 71vh #fff, 41vw 83vh #fff, 17vw 31vh #fff, 27vw 83vh #fff, 27vw 96vh #fff, 95vw 31vh #fff, 27vw 65vh #fff, 32vw 17vh #fff, 78vw 10vh #fff, 85vw 60vh #fff, 52vw 21vh #fff, 57vw 14vh #fff, 17vw 94vh #fff, 68vw 13vh #fff, 86vw 3vh #fff, 92vw 33vh #fff, 72vw 30vh #fff, 33vw 62vh #fff, 75vw 41vh #fff, 55vw 11vh #fff, 19vw 21vh #fff, 89vw 66vh #fff, 47vw 24vh #fff, 40vw 60vh #fff, 46vw 94vh #fff, 18vw 14vh #fff, 41vw 69vh #fff;
  opacity: 0.8;
  animation: twinkle 6s ease-in-out infinite 2s;
}

/* Layer 3: Occasional big stars */
.layer-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 56vw 45vh #fff, 16vw 90vh #fff, 30vw 61vh #fff, 22vw 52vh #fff, 37vw 66vh #fff, 30vw 82vh #fff, 27vw 61vh #fff, 93vw 28vh #fff, 18vw 43vh #fff, 14vw 84vh #fff, 80vw 21vh #fff, 28vw 45vh #fff, 93vw 9vh #fff, 79vw 67vh #fff, 44vw 68vh #fff, 85vw 47vh #fff, 7vw 25vh #fff, 76vw 68vh #fff, 9vw 71vh #fff, 56vw 48vh #fff;
  opacity: 1;
  animation: twinkle 8s ease-in-out infinite 1s;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

h1 {
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Scanline Effect Overlay */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1));
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 999;
  opacity: 0.3;
}