@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: #0b0d17;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  background-image: url('./assets/bg-space.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 0;
}

/* Base Star Layer Style */
.star-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/* Layer 1: Big, Bright White/Blue Stars - Moving Slow Right-Down */
.layer-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  filter: drop-shadow(0 0 5px white);
  box-shadow:
    10vw 10vh #fff, 30vw 40vh #d4f1f9, 50vw 80vh #fff,
    70vw 20vh #fff, 90vw 60vh #d4f1f9, 20vw 90vh #fff,
    5vw 50vh #fff, 85vw 5vh #fff, 40vw 95vh #fff,
    15vw 15vh #d4f1f9, 60vw 60vh #fff, 80vw 30vh #fff,
    25vw 75vh #d4f1f9, 95vw 85vh #fff;
  /* Combined movement and blinking */
  animation: moveDiagonally1 60s linear infinite, flash 5s ease-in-out infinite;
}

/* Layer 2: Medium, Purple/Pink Particles - Moving Up-Left */
.layer-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.9;
  filter: drop-shadow(0 0 4px #bd00ff);
  box-shadow:
    15vw 85vh #bd00ff, 45vw 15vh #ff00ff, 75vw 55vh #bd00ff,
    5vw 35vh #ff00ff, 65vw 95vh #bd00ff, 95vw 25vh #ff00ff,
    10vw 10vh #ff00ff, 30vw 50vh #bd00ff, 50vw 90vh #ff00ff,
    70vw 30vh #bd00ff, 90vw 70vh #ff00ff, 20vw 40vh #bd00ff,
    40vw 80vh #ff00ff, 60vw 20vh #bd00ff, 80vw 60vh #ff00ff;
  animation: moveDiagonally2 80s linear infinite, flash 7s ease-in-out infinite;
}

/* Layer 3: Small, Cyan Particles - Moving Straight Left */
.layer-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.9;
  filter: drop-shadow(0 0 3px #00ffff);
  box-shadow:
    25vw 25vh #00ffff, 55vw 55vh #00ffff, 85vw 85vh #00ffff,
    35vw 75vh #00ffff, 65vw 35vh #00ffff, 95vw 15vh #00ffff,
    5vw 5vh #00ffff, 15vw 45vh #00ffff, 45vw 95vh #00ffff,
    75vw 25vh #00ffff, 25vw 65vh #00ffff, 65vw 15vh #00ffff,
    95vw 55vh #00ffff, 10vw 85vh #00ffff, 50vw 35vh #00ffff,
    80vw 75vh #00ffff, 30vw 15vh #00ffff, 60vw 85vh #00ffff;
  animation: moveLeft 50s linear infinite, flash 3s ease-in-out infinite;
}

/* Layer 4: Tiny, Dense White Dust - Moving Slightly Up (Slow Float) */
.layer-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.8;
  box-shadow:
    5vw 5vh #fff, 12vw 18vh #fff, 22vw 8vh #fff, 35vw 42vh #fff,
    48vw 28vh #fff, 52vw 72vh #fff, 68vw 12vh #fff, 78vw 58vh #fff,
    82vw 32vh #fff, 98vw 82vh #fff, 18vw 92vh #fff, 42vw 88vh #fff,
    8vw 15vh #fff, 28vw 38vh #fff, 58vw 48vh #fff, 88vw 18vh #fff,
    15vw 65vh #fff, 38vw 78vh #fff, 62vw 92vh #fff, 92vw 62vh #fff,
    2vw 25vh #fff, 24vw 55vh #fff, 46vw 15vh #fff, 72vw 35vh #fff,
    14vw 45vh #fff, 36vw 25vh #fff, 66vw 75vh #fff, 86vw 45vh #fff,
    96vw 15vh #fff, 6vw 85vh #fff;
  animation: floatUp 120s linear infinite, flash 11s ease-in-out infinite;
}

@keyframes flash {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

@keyframes moveDiagonally1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100px, 100px);
  }
}

@keyframes moveDiagonally2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100px, -50px);
  }
}

@keyframes moveLeft {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-150px, 0);
  }
}

@keyframes floatUp {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -60px);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body>italia-js {
  z-index: 1;
}